@using VivesRental.Model
@model ArticlePartialViewModel
<div class="form-group">
    @{ var statusColor = Model.Article.Status switch
        {
            ArticleStatus.Normal => StatusColor.Normal,
            ArticleStatus.Broken => StatusColor.Broken,
            ArticleStatus.Destroyed => StatusColor.Destroyed,
            ArticleStatus.InRepair => StatusColor.InRepair,
            ArticleStatus.Lost => StatusColor.Lost,
            ArticleStatus.Pending => StatusColor.Pending,
            _ => StatusColor.Pending
        };
        var stringColor = "#" + statusColor.ToString("X").Substring(2, 6);
    }

    <input type="hidden" name = "Id" value="@Model.Article.Id" />
    <input type="hidden" name = "ProductId" value="@Model.Article.ProductId" />
    <input type="hidden" name = "Status" value="@Model.Article.Status" />
    <input type="hidden" name = "Product.Name" value="@Model.Article.Product.Name" />
    <input type="hidden" name = "Product.RentalExpiresAfterDays" value="@Model.Article.Product.RentalExpiresAfterDays" />
    <input type="hidden" name = "Product.Description" value="@Model.Article.Product.Description" />
    <input type="hidden" name = "Product.Manufacturer" value="@Model.Article.Product.Manufacturer" />
    <input type="hidden" name = "Product.Publisher" value="@Model.Article.Product.Publisher" />
    <input type="hidden" name = "Product.Articles" value="@Model.Article.Product.Articles" />
    <input type="hidden" name = "OrderLines" value="@Model.Article.OrderLines" />
    <input type="submit" asp-for="@Model.Article.Product.Name" class="col-3 my-table-button table-row @(Model.Article.Id==Model.CurrentArticleId?"color-col-selected":"color-col-1")" data-toggle="tooltip" placement="auto right" data-html="true" title="<b>ID</b><div>@Model.Article.Id</div>" />
    <input type="submit" asp-for="@Model.Article.Product.Description" class="col-5 my-table-button table-row @(Model.Article.Id==Model.CurrentArticleId?"color-col-selected":"color-col-2")" data-toggle="tooltip" placement=" auto right" data-html="true" title="<b>OMSCHRIJVING</b><div>@Model.Article.Product.Description</div>" />
    <input type="submit" asp-for="@Model.Article.Status" class="col-2 my-table-button table-row @(Model.Article.Id==Model.CurrentArticleId?"color-col-selected":"color-col-3") rounded-pill border border-dark" style="background-color: @stringColor;" />
    <input type="submit" asp-for="@Model.Article.Product.RentalExpiresAfterDays" class="col-2 my-table-button table-row @(Model.Article.Id==Model.CurrentArticleId?"color-col-selected":"color-col-4")" />
</div>