@using VivesRental.Model
@model ArticleViewModel
@{
    ViewData["Title"] = "Artikeldetail";
}

<div class="row" style="align-items: baseline">
    <div class="col-3 h1">Detail van</div>
    <div class="col-9 h3">@Model.CurrentArticle.Id</div>
</div>
<div class="row h2 align-items-center">
    <div class="col-4">Status:</div>
    @{
        var statusColor = Model.CurrentArticle.Status switch
        {
            ArticleStatus.Normal => StatusColor.Normal,
            ArticleStatus.Broken => StatusColor.Broken,
            ArticleStatus.Destroyed => StatusColor.Destroyed,
            ArticleStatus.InRepair => StatusColor.InRepair,
            ArticleStatus.Lost => StatusColor.Lost,
            ArticleStatus.Pending => StatusColor.Pending,
            _ => StatusColor.Pending
        };
        var stringColor = "#" + statusColor.ToString("X").Substring(2, 6);
    }
    <div class="rounded-pill border border-dark" style="background-color: @stringColor; padding: 1rem;">@Model.CurrentArticle.Status</div>
</div>
<div class="row h2 align-items-baseline">
    <div class="col-4">Product id:</div>
    <div class="h3">@Model.CurrentArticle.ProductId</div>
</div>
<div class="row h2">
    <div class="col-4">Produktnaam:</div>
    <div>@Model.CurrentArticle.Product.Name</div>
</div>
<div class="row h2">
    <div class="col-4">Omschrijving:</div>
    <div>@Model.CurrentArticle.Product.Description</div>
</div>
<div class="row h2">
    <div class="col-4">Termijn:</div>
    <div>@Model.CurrentArticle.Product.RentalExpiresAfterDays dagen</div>
</div>
<div class="row h2">
    <div class="col-4">Produktfabrikant:</div>
    <div>@Model.CurrentArticle.Product.Manufacturer</div>
</div>
<div class="row h2">
    <div class="col-4">Produktuitgever:</div>
    <div>@Model.CurrentArticle.Product.Publisher</div>
</div>
<div class="row h2">
    <div class="col-4">Uitleningen:</div>
    <div>@Model.OrderLines.Count()</div>
</div>

@if (Model.OrderLines.Any())
{
    <table>
        <tr>
            <th>UITGELEEND OP</th>
            <th>TERUGGEBRACHT OP</th>
            <th>UITERSTE TERUGBRENGDATUM</th>
        </tr>
        @{foreach (var orderLine in Model.OrderLines)
          {
              string tooltip = $"<div><b>NAAM</b><div>{orderLine.ProductName}</div></div>" +
                               $"<div><b>OMSCHRIJVING</b><div>{orderLine.ProductDescription}</div></div>" +
                               $"<div><b>UITGELEEND OP</b><div>{orderLine.RentedAt}</div></div>" +
                               $"<div><b>TERUGGEBRACHT OP</b><div>{(orderLine.ReturnedAt.HasValue?orderLine.ReturnedAt.ToString():"-")}</div></div>" +
                               $"<div><b>UITERSTE TERUGBRENGDATUM</b><div>{orderLine.ExpiresAt}</div></div>" +
                               $"<div><b>ORDER ID</b><div>{orderLine.OrderId}</div></div>" + 
                               $"<div><b>ORDERLINE ID</b><div>{orderLine.Id}</div></div>";
                <tr data-toggle="tooltip" placement="auto left" data-html="true" title="@tooltip">
                    <td>@orderLine.RentedAt.ToShortDateString()</td>
                    <td>@(orderLine.ReturnedAt.HasValue?@orderLine.ReturnedAt.Value.ToShortDateString():"-")</td>
                    <td>@orderLine.ExpiresAt.ToShortDateString()</td>
                </tr>
            }
        }
    </table>
}
