@model CustomerPartialViewModel
    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.Customer.Id" />
        <input type="hidden" name="FirstName" value="@Model.Customer.FirstName" />
        <input type="hidden" name="LastName" value="@Model.Customer.LastName" />
        <input type="hidden" name="Email" value="@Model.Customer.Email" />
        <input type="hidden" name="PhoneNumber" value="@Model.Customer.PhoneNumber" />
        <input type="submit" asp-for="@Model.Customer.FirstName" class="col-2 my-table-button table-row @(Model.Customer.Id==Model.CurrentCustomerId?"color-col-selected":"color-col-1")" />
        <input type="submit" asp-for="@Model.Customer.LastName" class="col-3 my-table-button table-row @(Model.Customer.Id==Model.CurrentCustomerId?"color-col-selected":"color-col-2")" />
        <input type="submit" asp-for="@Model.Customer.Email" class="col-4 my-table-button table-row @(Model.Customer.Id==Model.CurrentCustomerId?"color-col-selected":"color-col-3")" />
        <input type="submit" asp-for="@Model.Customer.PhoneNumber" class="col-3 my-table-button table-row @(Model.Customer.Id==Model.CurrentCustomerId?"color-col-selected":"color-col-4")" />
    </div>