@model VivesRental.Model.Customer
@{
    ViewData["Title"] = "Klantendetail";
}

<div class="row">
    <div class="col-3 h1">Detail van</div>
    <div class="col-9 h3">@Model.Id</div>
</div>
<div class="row h2">
    <div class="col-4">Voornaam:</div>
    <div>@Model.FirstName</div>
</div>
<div class="row h2">
    <div class="col-4">Achternaam:</div>
    <div>@Model.LastName</div>
</div>
<div class="row h2">
    <div class="col-4">Emailadres:</div>
    <div>@Model.Email</div>
</div>
<div class="row h2">
    <div class="col-4">Telefoonnummer:</div>
    <div>@Model.PhoneNumber</div>
</div>
<div class="row h2">
    <div class="col-4">Aantal uitleningen:</div>
    <div>@Model.Orders.Count</div>
</div>

@if (Model.Orders.Count > 0)
{
<table>
    <tr>
        <th>ARTIKEL</th>
        <th>ID</th>
        <th>UITGELEEND OP</th>
        <th>AANTAL UITLENINGEN</th>
    </tr>
        @{ int i = 0;
        foreach (var order in Model.Orders)
        {
            var viewModel = new OrderPartialViewModel();
            viewModel.Order = order;
            viewModel.Counter = ++i;
            <partial name="OrderPartial" model="viewModel" />
        }

    }
</table>
}

@foreach (var order in Model.Orders)
{
    <partial name="OrderPartial" model="order" />
}


