@model CustomerViewModel
@{
    ViewData["Title"] = "Klantenbeheer";
}
<body class="my-color-customer">
    <div class="container">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="h1">Lijst van alle klanten</div>
        </div>
        <div class="row">
            <div class="table my-customer-table">
                @foreach (var customer in Model.Customers)
                {
                    <form method="POST" class="col-12" asp-action="SetCurrentCustomer">
                        <partial name="CustomerPartial" model="customer" />
                    </form>
                }
            </div>
        </div>
        <div class="row" style="margin-bottom: 1rem;">
            <div class="h1">Vul hier alle aanpassingen in</div>
        </div>
        <div class="row my-box-dotted form-group">
            <input type="hidden" form="id-crud" asp-for="CurrentCustomer.Id" value="@(Model.CurrentCustomer == null ? "<EMPTY>" : Model.CurrentCustomer.Id.ToString())" class="col-2 my-btn my-table-row my-customer-first-name" />
            <input type="text" form="id-crud" asp-for="CurrentCustomer.FirstName" value="@(Model.CurrentCustomer == null ? "<EMPTY>" : Model.CurrentCustomer.FirstName)" class="col-2 my-btn my-table-row my-customer-first-name" />
            <input type="text" form="id-crud" asp-for="CurrentCustomer.LastName" value="@(Model.CurrentCustomer == null ? "<EMPTY>" : Model.CurrentCustomer.LastName)" class="col-3 my-btn my-table-row my-customer-last-name" />
            <input type="text" form="id-crud" asp-for="CurrentCustomer.Email" value="@(Model.CurrentCustomer == null ? "<EMPTY>" : Model.CurrentCustomer.Email)" class="col-4 my-btn my-table-row my-customer-email" />
            <input type="text" form="id-crud" asp-for="CurrentCustomer.PhoneNumber" value="@(Model.CurrentCustomer == null ? "<EMPTY>" : Model.CurrentCustomer.PhoneNumber)" class="col-3 my-btn my-table-row my-customer-phone-number" />
        </div>
        <div class="row">
            <form method="post" class="col-12" id="id-crud">
                <input type="submit" value="Maak nieuwe klant aan" asp-action="CreateCustomer" class="col-3 my-create-btn" />
                <input type="submit" value="Pas gegevens aan" asp-action="UpdateCustomer" class="col-3 my-update-btn" />
                <input type="submit" value="Verwijder klant" asp-action="DeleteCustomer" class="col-3 my-delete-btn" />
            </form>
        </div>
    </div>
</body>



