@using VivesRental.Model
@model VivesRental.Model.Product
@{
    ViewData["Title"] = "Productdetail";
}

<div class="row" style ="align-items: baseline">
    <div class="col-3 h1">Detail van</div>
    <div class="col-9 h3">@Model.Id</div>
</div>
<div class="row h2">
    <div class="col-4">Naam:</div>
    <div>@Model.Name</div>
</div>
<div class="row h2">
    <div class="col-4">Omschrijving:</div>
    <div>@Model.Description</div>
</div>
<div class="row h2">
    <div class="col-4">Fabrikant:</div>
    <div>@Model.Manufacturer</div>
</div>
<div class="row h2">
    <div class="col-4">Uitgever:</div>
    <div>@Model.Publisher</div>
</div>
<div class="row h2">
    <div class="col-4">Termijn:</div>
    <div>@Model.RentalExpiresAfterDays</div>
</div>
<div class="row h2">
    <div class="col-4">Aantal artikelen:</div>
    <div>@Model.Articles.Count</div>
</div>
@if(Model.Articles.Count > 0)
{
    <table>
        <tr>
            <th>ARTIKEL</th>
            <th>ID</th>
            <th>STATUS</th>
        </tr>
        @{ int i = 0;
            foreach (var article in Model.Articles)
            {
                var viewModel = new ArticlePartialViewModel();
                viewModel.Article = article;
                viewModel.Counter = ++i;
                <partial name="ProductArticlePartial" model="viewModel" />
            }

        }
    </table>
}
