@model CustomerOrderArticlePartialViewModel

<tr>
    <td class="@(@Model.Counter%2==0?"checkered":"checkered-rev")">@Model.Article.Id</td>
    <td class="@(@Model.Counter%2==0?"checkered":"checkered-rev")">@Model.Article.Product.Name</td>
    <td class="@(@Model.Counter%2==0?"checkered":"checkered-rev")">@Model.Article.Product.Description</td>
    <td class="@(@Model.Counter%2==0?"checkered":"checkered-rev")">@Model.Article.Product.RentalExpiresAfterDays</td>
    <td class="no-border">
        <a href="RemoveSelectedArticle?id=@Model.Article.Id">
            <i class="fas fa-trash-alt fa-2x"></i>
        </a>
    </td>
</tr>
